In [1]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

In [3]:
gdp_file = '../Resources/gdp_clean_df.csv'
gdp_df = pd.read_csv(gdp_file)

hdi_file = '../Resources/HDI_clean_df.csv'
hdi_df = pd.read_csv(hdi_file)

suicide_file = '../Resources/suicide_clean_df.csv'
suicide_df = pd.read_csv(suicide_file)

  HDI Rank       Country  Year  value
0      169   Afghanistan  1991  0.307
1       69       Albania  1991  0.631
2       91       Algeria  1991  0.576
3       36       Andorra  1991     ..
4      148        Angola  1991     ..

In [ ]:
connection_str = "postgres:postgres@localhost:5432/suicide_db"
engine = create_engine(f'postgresql:///{connection_str})